<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row">
        <%- include('partials/aside') %>
        <main class="col-9 p-3">
          <% for (let post of posts) { %>
          <a href="/posts/<%= post.id %>" class="">
            <section
              class="row d-flex align-items-center shadow ms-1 mb-2 px-0"
            >
              <div class="col-2 d-flex align-items-center px-0 h-100">
                <img
                  src="https://images.unsplash.com/photo-1659354867955-34be80d410be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                  class="w-100 rounded ps-2"
                />
              </div>
              <div class="col-10">
                <h2 class=""><%= post.title %></h2>
                <p><%= post.content %></p>
                <div class="d-flex justify-content-between">
                  <span class="">최초 작성일</span>
                  <span class="">최종 수정일</span>
                  <span class="">조회수</span>
                </div>
              </div>
            </section>
          </a>
          <% } %>
        </main>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
