extends layouts/layout
block content
    each post in posts
        a(href=`/posts/${post._id}`)
        section.container-fluid.shadow.mb-3.px-0
            div.card
                div.row.g-0
                div.col-3.d-flex.align-items-center.justify-content-center.px-2#thumbnail
                    img(
                        src=`${post.thumbnail.thumbnail}`
                    ).rounded-start.rounded-end
                div.col-9
                    div.card-body
                    h2.card-title #{post.title}
                    p.card-text #{post.content.slice(0, 20)}
                    div.d-flex.justify-content-between
                        span.card-text 
                            small.text-muted 작성일: #{post.postedAt.toISOString().slice(0, 10)}
                        span.card-text
                            small.text-muted 최종 수정일: #{post.editedLast.toISOString().slice(0, 10)}
                        //- span.card-text
                        //-     small.text-muted 조회수: 
