extends layouts/layout
block content
    each post in posts
        a(href=`/posts/${post.id}`)
            section.container-fluid.shadow.mb-3.px-0
                div.card
                    div.row.g-0
                        div.col-3.d-flex.align-items-center.justify-content-center.px-2#thumbnail
                            img(src=`${post.thumbnailUrl}`).rounded-start.rounded-end
                        div.col-9
                            div.card-body.py-2.px-3
                                h2.card-title.mb-1 #{post.title}
                                p.card-text.mb-1 !{post.content.slice(0, 110)}...
                                div.d-flex.justify-content-between
                                    span.card-text 
                                        small.text-muted 작성일: #{post.createdAt.toISOString().slice(0, 10)}
                                    span.card-text
                                        small.text-muted 최종 수정일: #{post.updatedAt.toISOString().slice(0, 10)}
                                    //- span.card-text
                                    //-     small.text-muted 조회수:
    div.d-flex.justify-content-center
        if hasPreviousPage
            a(href=`/posts?${previousPageUrl}`) ⬅ 이전 페이지
        span.px-3
        if hasNextPage
            a(href=`/posts?${nextPageUrl}`) 다음 페이지 ➡