doctype html
<html lang="ko">
    head
        include ../partials/head
        title Admin | kkulog
    body.d-flex.flex-column.vh-100
        include ../partials/navbar
        div.container
            div.row
                include ../partials/flash
            div.row
                section.col-6.p-5
                    div.mb-5
                        h2 Category
                        div.mb-3
                            ul
                                each category in categories
                                    div.d-flex.justify-content-between
                                        li #{category.name}
                                        form(data-id=`${category._id}`)#categoryDeleteForm
                                            button(type="submit").btn ❌
                        form(novalidate).needs-validation#categoryForm
                            div.d-flex.flex-column
                                div.mb-3
                                    label(for="category").form-label 카테고리
                                    input(type="text" name="category" required).form-control#category
                                button(type="submit").btn.btn-primary 대분류 등록
                section.col-6.p-5
                    div
                        h2 SubCategory
                        div.mb-3
                            ul
                                if categories.length
                                    each category in categories
                                        h1 #{category.name}
                                        each subcategory in category.subcategories
                                            div.d-flex.justify-content-between
                                                li #{subcategory.name}
                                                form(data-id=`${subcategory._id}`)#subcategoryDeleteForm
                                                    input(type="submit" value="❌").btn
                        form(novalidate).needs-validation#subcategoryForm
                            div.d-flex.flex-column
                                div.input-group.mb-3
                                    label(for="categorySelect").input-group-text 카테고리
                                    select(
                                        name="category"
                                        aria-label="Default select example"
                                        required
                                    ).form-select.cat#categorySelect
                                        option(selected) 카테고리를 선택하세요.
                                        each category in categories
                                            option(value=`${category._id}`) #{category.name}
                                div.mb-3
                                    label(for="subcategory").form-label 서브카테고리
                                    input(
                                        type="text"
                                        name="subcategory"
                                        required
                                    ).form-control#subcategory
                                button(type="submit").btn.btn-primary 소분류 등록
        include ../partials/footer
        script(src="/js/validatePost.js")
        script(src="/js/admin.js")