<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
    <title>Admin | kkulog</title>
  </head>

  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <div class="container">
      <%- include('../partials/flash') %>
      <div class="row">
        <section class="col-6 p-5">
          <div class="mb-5">
            <h2>Category</h2>
            <div class="mb-3">
              <ul>
                <% for (let cat of categories) { %>
                <div class="d-flex justify-content-between">
                  <li><%= cat.name %></li>
                  <form
                    action="/admin/categories/<%= cat._id %>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn">❌</button>
                  </form>
                </div>
                <% } %>
              </ul>
            </div>
            <form
              action="/admin"
              method="POST"
              novalidate
              class="needs-validation"
            >
              <div class="d-flex flex-column">
                <div class="mb-3">
                  <label class="form-label" for="catname">카테고리 </label>
                  <input
                    class="form-control"
                    type="text"
                    id="catname"
                    name="cat[name]"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  대분류 등록
                </button>
              </div>
            </form>
          </div>
        </section>
        <section class="col-6 p-5">
          <div>
            <h2>SubCategory</h2>
            <div class="mb-3">
              <ul>
                <% for (let sub of subcategories) { %>
                <div class="d-flex justify-content-between">
                  <li><%= sub.name %></li>
                  <form
                    action="/admin/subcategories/<%=sub._id %>?_method=DELETE"
                    method="POST"
                  >
                    <input type="submit" class="btn" value="❌" />
                  </form>
                </div>
                <% } %>
              </ul>
            </div>
            <form
              action="/admin"
              method="POST"
              novalidate
              class="needs-validation"
            >
              <div class="d-flex flex-column">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="cat">카테고리</label>
                  <select
                    name="sub[cat]"
                    class="form-select"
                    id="cat"
                    aria-label="Default select example"
                    required
                  >
                    <option selected>카테고리를 선택하세요.</option>
                    <% for (let cat of categories) { %>
                    <option value="<%= cat.name %>"><%= cat.name %></option>
                    <% } %>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="subname">서브카테고리 </label>
                  <input
                    class="form-control"
                    type="text"
                    id="subname"
                    name="sub[name]"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  소분류 등록
                </button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/javascripts/validatePost.js"></script>
  </body>
</html>
