extends ../layouts/layout-post

block content
    div.container.mt-3
        div.row
            h1 Edit
        div.row
            form(data-id=`${post.id}` novalidate).needs-validation#editForm
                div.d-flex.flex-column
                    div.input-group.mb-3
                        label(for="subcategory").input-group-text 카테고리
                        select(
                            name="subcategory"
                            aria-label="Default select example"
                        ).form-select#subcategory
                            option(selected disabled value=`${post.subcategoryId}`) 미변경
                            each subcategory in subcategories
                                option(value=`${subcategory._id}`) #{subcategory.title}
                        div.invalid-feedback 유효한 카테고리 선택 필요
                    div.mb-3
                        label(for="title").form-label 제목
                        input(
                            type="text"
                            name="title"
                            value=`${post.title}`
                            required
                        ).form-control#title
                        div.invalid-feedback 유효한 제목 입력 필요
                    div(id="editor")
                    div.mb-3
                        label(for="thumbnail").form-label 썸네일
                        input(
                            type="file"
                            name="thumbnail"
                        ).form-control#thumbnail
                        div.invalid-feedback 유효한 썸네일 선택 필요
                    div.mb-3
                        label(for="tags").form-label 태그
                        input(
                            type="text"
                            name="tags"
                            value=`${post.tags}`
                            required
                        ).form-control#tags
                        div.invalid-feedback 유효한 태그 입력 필요
                    div.text-center.mt-3
                        button(type="submit").btn.btn-primary.w-25 수정하기
                        a(href="/")
                            button(type="button").btn.btn-danger.w-25 홈으로
    script(src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js")
    script(src='/js/tui-editor.js')
    script(src="/js/validatePost.js")
    script(src="/js/editPost.js")
